.img {

  position: relative;
  text-align: center;
  padding: -100
}
.logo{
  position: absolute;;
  top: 20%;
  left: 40%;

}
p{
  position: absolute;
  top: 45%;
  left: 35%;
  z-index: 1;
  font-family: dosis;
  font-weight: bold;
  font-size: 25px;
}

.drinks {
  border: -3px;
  border-radius: 2px;
  padding: 2px;
  left: 60px;
}

.image-responsive {
  width: 100%;
  padding: 2px;
  border: 4px;
}

.partytime {
  color: red;
}
