h1{
    color: red;
    font-family: gloria hallelujah;

}
img{
  position: relative;
  text-align: center;
}
.logo{
  position: absolute;;
  top: 20%;
  left: 40%;

}
p{
  position: absolute;
  top: 70;
  left: 35%;
  z-index: 1;
  font-family: gloria hallelujah;
}
.drink{
  display:inline-block;
  top:20%;
}
