h1{
    color: red;
    font-family: gloria hallelujah;

}
.img{
  position: relative;
  text-align: center;
  padding: -100
}
.logo{
  position: absolute;;
  top: 20%;
  left: 40%;

}
p{
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 1;
  font-family: dosis;
  font-weight: bold;
  font-size: 25px;
}

.drinks{
  display:inline-block;
  position: relative;
  right: 40%;
  padding: -16%;
  float: inherit;

}

.happy-hour{
  background-color: white;
  display: inline-block;
  z-index: -1;
  top: 30%;


}
